<div class="h-screen w-full bg-white">
  <div class="md:overflow-hidden">
    <div class="px-4 py-16 mt-80">
      <div class="relative w-full md:max-w-2xl md:mx-auto text-center">
        <img src="<%= Routes.static_path(@conn, "/images/new-logo.png") %>">
      </div>
    </div>
  </div>

  <div class="w-full text-center mt-20">
    <h1 class="text-gray-700 text-xl sm:text-2xl md:text-5xl leading-tight">
      Nos gusta hacer software, codificar de noche y los tacos.
    </h1>
  </div>
</div>