<h1>New General data</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.general_data_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.general_data_path(@conn, :index) %></span>
